.section {
  margin-top: 100px;
  padding: 15px;
}
.section_title {
  font-size: 10px;
  color: #999999;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}
.section_subtitle {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 45px;
  font-family: "Playfair Display";
  letter-spacing: 5px;
  line-height: 1.8;
}
.cta-section {
  background: #f9c74f; /* yellow */
  padding: 60px 10%;
  text-align: left;
}

.cta-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: 500;
  color: #000;
  margin-bottom: 25px;
}

.cta-btn {
  background: transparent;
  border: 2px solid #000;
  padding: 10px 22px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background: #000;
  color: #fff;
}
.cta-section {
  margin-bottom: 80px; /* adjust gap here */
}
