html {
  scroll-behavior: smooth;
}
.contact-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 14px 30px;
  margin-top: 20px;

  border: 2px solid #000;
  border-radius: 4px;

  cursor: pointer;

  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #000;
  background: transparent;

  transition: all 0.3s ease;
}

.contact-btn .icon {
  font-size: 18px;
}

.contact-btn:hover {
  background: #000;
  color: #fff;
}
